/*
COLOR PALETTE
------------------------------------------------------------

my blue = #2B428E
their blue = #173673
dark blue = #10244b
their bright red = #FF1A1A
their dark red = #E60000
my red = #AB2027
*/

/* OVERALL
------------------------------------------------------------ */

body {
  color: #FFFFFF;
  background-color: #10244b;
  font-family: 'Quicksand', sans-serif;
}

.profile-container {
  margin-top: 7rem;
}

#profile-title {
  font-family: 'Pacifico', cursive;
}

.profile-red {
  color: #E60000;
}

.profile-white {
  color: #FFFFFF
}

.profile-blue {
  color: #173673
}

.profile-link {
  color: #FFFFFF;
  transition: 0.2s;
}

.profile-link:hover,
.profile-link:active {
  color: #E60000;
}

/* PROFILE NAVBAR
------------------------------------------------------------ */

.profile-navbar {
  background-color: #173673;
  border-bottom: 2px solid #FFFFFF;
}

.profile-toggler {
  background-color #173673;
  border-color: #FFFFFF;
}
.profile-bars-icon {
  color: #FFFFFF;
}

/* PROFILE JUMBOTRON
------------------------------------------------------------ */

.profile-jumbo {
  background-color: #173673;
  margin: 1em 0em;
}

.profile-jumbo-banner {
  height: 8em;
  position: relative;
  padding: 1em;
}

div.profile-jumbo-banner h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

}

.profile-jumbo-info {
  background-color: #0b1832;
  padding: 1em;
  height: 100%;
}


/* PROFILE PANELS
------------------------------------------------------------ */

.profile-panel {
  margin: 1em;
  background-color: #173673;
}

.profile-panel-head {
  padding: 1em 1em 0.1em 1em;
  background-color: #0b1832;
}

.profile-panel-body {
  padding: 1em;
}

#profile-elections-head {
  margin: 0;
}

.profile-elections-col {
  padding-left: 0;
  padding-right: 0;
}

/* PROFILE ELECTION CAROUSEL
------------------------------------------------------------ */

.profile-upcoming-elects {
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #173673;
  float: right;
  padding: 5px 20px;
}

.carousel-controls {
 position:relative;
  width:300px;
  margin:0 auto;
}

.carousel-indicators {
  margin-bottom: 0px;
   bottom :0px;
}

/* PROFILE ELECTION
------------------------------------------------------------ */
.profile-election-header {
  background-color: #0b1832;
  border: 1px solid #FFFFFF;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.profile-election-date {
  color: #E60000;
  margin: 0;
}

/*PROFILE CONTEST
------------------------------------------------------------ */

table {
    border-collapse: collapse;
    width: 100%;
}
th {
  background-color: #0b1832;
}

td, th {
    border: 1px solid #FFFFFF;
    text-align: center;
    padding: 8px 1.5px;
}

.profile-contest-entry {
  margin: 1em 2em;
}

.profile-contest-header {
  padding: 1em 1em 0.1em 1em;
  background-color: #0b1832;
  border: solid #FFFFFF;
  border-width: 1px 1px 0px 1px;
}

.profile-contests-list {
  margin: 1em 2em;
}

.profile-contest-entry {
  margin: 1em 0;
}

.profile-election-arrow {
  width: 20px;
}

.profile-cand-url > a {
  color: #FFFFFF;
  transition: 0.2s;
}

.profile-cand-url > a:hover {
  color: #E60000;
}

/* PROFILE POLLING INFORMATION
------------------------------------------------------------ */

.profile-polling-info {
  margin: 1em 2em;
}

.profile-polling-header {
  padding: 1em 1em 0.1em 1em;
  background-color: #0b1832;
  border: solid 1px #FFFFFF;
}

.profile-polling-body {
  margin: 0;
  padding: 0.5em 1em;
  border: solid #FFFFFF;
  border-width: 0px 1px 1px 1px;
}

.profile-polling-body > .col-7 > p {
  margin: 0;
}

.profile-polling-body > .col-5 > p {
  margin: 0;
}

.profile-polling-highlight {
  /*color: #0b1832;*/
  color: #E60000;
  font-weight: bold;
}

#polling-location {
    /*color: #E60000;*/
    color: white;
  font-weight: bold;

}


/* PROFILE REPRESENTATIVES
------------------------------------------------------------ */

.profile-rep-card {
  width: 15rem;
  background-color: #0b1832;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.profile-reps-social {
  margin: 0.2em;
  transition: 0.2s;
}

.profile-reps-web:hover {
  color: #DBBB06;
}

/* PROFILE SOCIAL MEDIA
------------------------------------------------------------ */
.profile-cand-social > a {
  margin: 0.1em
}

.profile-social {
  color: #FFFFFF;
}

.profile-social-fb:hover {
  color: #3a5998;
}

.profile-social-tw:hover {
  color: #1da1f2;
}

.profile-social-yt:hover {
  color: #cd201f;
}

/* ADDRESS MODAL
------------------------------------------------------------ */

.profile-modal-head {
  background-color: #0b1832;
}

.profile-modal-content {
  background-color: #173673;
}

.address-modal-close-icon {
  color: #FFFFFF;
}

/* RANDOM
------------------------------------------------------------ */

.profile-label {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.profile-input {
  width: 100%;
  color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.profile-input::placeholder {
  color: #173673;
}

.profile-btn {
  color: #FFFFFF;
  background-color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  transition: 0.5s;
}

.profile-update-address-btn:hover {
  background-color: #DBBB06;
}

.profile-update-close-btn:hover {
  background-color: #E60000;
}

.img-frame {
  height: 250px;
}