
/* OVERALL
------------------------------------------------------------ */

body {
  color: white;
  background-color: #173673;
  font-family: 'Quicksand', sans-serif;
}

.signup-container {
  margin-top: 3rem;
}

.signup-header {
  margin-bottom: 2em;
}

.signup-title {
  font-family: 'Pacifico', cursive;
}

.signup-red {
  color: #E60000
}

.signup-white {
  color: #FFFFFF
}

.signup-blue {
  color: #173673
}
.signup-information-block {
}

.signup-address-block {
  margin-top: 2.5em;
}

#signup > label {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.signup-input {
  width: 100%;
  color: #173673;
  border: 1px solid #FFFFFF;
  border-color: #FFFFFF;
  background-color: #FFFFF;
  border-radius: 5px;
}

.signup-input::placeholder {
  color: #173673;
}

.signup-btn {
  margin: 10px 0px;
  color: #FFFFFF;
  background-color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  transition: 0.5s;
}

.signup-btn:hover {
  background-color: #E60000;
}

#signup-clear-btn:hover {
  background-color: #DBBB06;
}
