/*
my blue = #2B428E
their blue = #173673
their bright red = #FF1A1A
their dark red = #E60000
my red = #AB2027
*/

/* OVERALL
------------------------------------------------------------ */

body {
  color: white;
  background-color: #173673;
  font-family: 'Quicksand', sans-serif;
}

.signin-red { color: #E60000 }
.signin-white { color: #FFFFFF }
.signin-blue { color: #173673 }

.signin-container {
  margin-top: 5rem;
}

#signin-title {
  font-family: 'Pacifico', cursive;
}

.signin-label {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.signin-input {
  color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.signin-input::placeholder {
  color: #173673;
}

.signin-btn {
  margin: 10px 0px;
  color: #FFFFFF;
  background-color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  transition: 0.5s;
}
.signin-btn:hover {
  background-color: #E60000;
}

.signin-link {
  color: #FFFFFF;
  transition: 0.2s;
}
.signin-link:hover, .signin-link:active {
  color: #E60000;
}
