<!-- main profile page -->
<div class="container">

   <!-- Navbar -->
   <nav class="profile-navbar navbar navbar-expand-md sticky-top">

      <!-- navbar brand -->
      <a class="navbar-brand" href="#">
         <h3 id="profile-title">
        <span class="profile-red">Politi</span><span class="profile-white">tracker</span>
      </h3>
      </a>

      <!-- navbar toggler button -->
      <button class="profile-toggler navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <i class="profile-bars-icon fa fa-bars" aria-hidden="true"></i>
      </button>

      <!-- navbar collapsable items -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="nav navbar-nav ml-auto mt-2 mt-md-0">
            <li class="nav-item">
               <h5><a class="nav-link profile-link" data-toggle="modal" data-target="#address-modal">Address</a></h5>
            </li>
            <li class="nav-item">
               <h5><a class="nav-link profile-link" href="#">Log Out</a></h5>
            </li>
         </ul>
      </div>
   </nav>

   <!-- Profile Jumbo -->
   <div class="profile-jumbo">
      <div class="row">
         <div class="col-lg-8">
            <div class="profile-jumbo-banner">
               <h2>Welcome, Tammy!</h2>
            </div>
         </div>

         <!-- profile jumbo information -->
         <div class="col-lg-4">
            <div class="profile-jumbo-info">
               <h3><span class="profile-red">Your</span> Information</h3>
               <p>
                  123 Strawberry Lane
                  <br> Sundance, AK 33412
               </p>
            </div>
         </div>
      </div>
   </div>

   <!-- Elections Display  -->
   <div class="row">
      <div class="col-lg-12">
         <div class="profile-panel">
            <div id="profile-elections-head" class="profile-panel-head row">
               <div class="profile-elections-col col-lg-7 col-md-6">
                  <h2 class="profile-head-title"><span class="profile-red">Your</span> Elections</h2>
               </div>
               <div class="profile-elections-col col-lg-5 col-md-6">
                  <h6 class="profile-upcoming-elects">Upcoming Elections: </h6>
               </div>
            </div>
            <div class="profile-panel-body">
               <div id="profileCarouselIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                     <!-- <li data-target="#profileCarouselIndicators" data-slide-to="0" class="active"></li> -->
                     <!-- <li data-target="#profileCarouselIndicators" data-slide-to="1"></li> -->
                     <!-- <li data-target="#profileCarouselIndicators" data-slide-to="2"></li> -->
                  </ol>
                  <div class="carousel-inner" role="listbox">
                     <div class="carousel-item active">
                        <div class="profile-contests-list">
                           <div class="profile-contest-table">
                               

                               <!-- *******TABLE GOES HERE******* -->
     

                           </div>
                        </div>
                     </div>


                     <!-- *******POLLING INFO SECTION******* -->


                      <div class="profile-polling-info">
                                    <div class="profile-polling-header">
                                        <h3>Polling Information</h3>
                                    </div>
                                    <div class="profile-polling-body row">
                                        <div class="col-7">
                                            <p>
                                                <span id="polling-location" class="profile-white"></span>
                                                <br>
                                                <div id="polling-address"></div>
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <p>
                                                <span id="polling-times" class="profile-white"></span>
                                                <br>
                                                <div id="polling-hours"></div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <!-- *******CLOSING CAROUSEL SECTION******* -->


                  <!--    <a class="carousel-control-prev profile-election-arrow" href="#profileCarouselIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next profile-election-arrow" href="#profileCarouselIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> -->
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Representatives Display -->
      <div class="row">
         <div class="col-lg-12">
            <div class="profile-panel">
               <div class="profile-panel-head">
                  <h2><span class="profile-red">Your</span> Representatives</h2>
               </div>
               <div class="profile-panel-body">
                  <div class="card-deck">


                     <!-- *******REPS POPULATE HERE VIA JQUERY******* -->


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Address Modal -->
   <div id="address-modal" class="modal fade">
      <div class="modal-dialog" role="document">
         <div class="profile-modal-content modal-content">
            <div class="profile-modal-head modal-header">
               <h5 class="modal-title">Update Address</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="address-modal-close-icon fa fa-times" aria-hidden="true"></i>
               </button>
            </div>
            <div class="modal-body">
               <form id="update-address" name="update-address" method="post" action="/profile">
                  <div class="signup-address-block">
                     <label for="street">Street Address</label>
                     <br>
                     <input class="profile-input" name="street" type="text" placeholder="1234 Sesame St." />
                     <br>
                     <label for="city" type="text">City</label>
                     <br>
                     <input class="profile-input" name="city" type="text" placeholder="Montgomery" />
                     <br>
                     <label for="state" type="text">State</label>
                     <br>
                     <select class="profile-input" name="state" type="text">
                        <br>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                     </select>
                     <br>
                     <label for="zipcode">Zipcode</label>
                     <br>
                     <input class="profile-input" name="zipcode" type="number" placeholder="33176" />
                     <br>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="submit" class="profile-btn profile-update-address-btn btn">Update</button>
               <button type="button" class="profile-btn profile-update-close-btn btn" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
