<link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300" rel="stylesheet">

<style>
/*
my blue = #2B428E
their blue = #173673
their bright red = #FF1A1A
their dark red = #E60000
my red = #AB2027
*/

body {
  color: white;
  background-color: #173673;
  font-family: 'Quicksand', sans-serif;
}

.signin-container {
  margin-top: 7rem;
}

#signin-title {
  font-family: 'Pacifico', cursive;
}

.signin-red { color: #E60000 }
.signin-white { color: #FFFFFF }
.signin-blue { color: #173673 }

.signin-label {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.signin-input {
  color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

.signin-input::placeholder {
  color: #173673;
}

.signin-btn {
  margin: 10px 0px;
  color: #FFFFFF;
  background-color: #173673;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  transition: 0.5s;
}
.signin-btn:hover {
  background-color: #E60000;
}

.signin-link {
  color: #FFFFFF;
  transition: 0.2s;
}
.signin-link:hover, .signin-link:active {
  color: #E60000;
}

</style>

<div class="container signin-container">

  <div class="mx-auto col-6 text-center">
    <h1 id="signin-title">
      <span class="signin-red">Politi</span><span class="signin-white">tracker</span>
    </h1>
    <p>Making Democracy Accessible</p>
    <form id="signin" name="signin" method="post" action="signin">
      <label class="signin-label" for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
      <input class="signin-input" name="email" type="text" placeholder=" email"/><br>
      <label class="signin-label" for="password"><i class="fa fa-key" aria-hidden="true"></i></label>
      <input class="signin-input" name="password" type="password" placeholder=" password"/><br>
      <input class="btn signin-btn" type="submit" value="Sign In" /><br>
    </form>
    <a class="signin-link" href="/signup">New? Create an account</a>
  </div>

</div>
