<div class="container">
  <div class="mx-auto col-6 text-center">
    <h1>Polititracker</h1>
    <p>Making Democracy Accessible</p>
    <form id="signin" name="signin" method="post" action="signin">
      <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
      <input class="text" name="email" type="text" placeholder="email"/><br>
      <label for="password"><i class="fa fa-key" aria-hidden="true"></i></label>
      <input name="password" type="password" placeholder="password"/><br>
      <input class="btn" type="submit" value="Sign In" /><br>
    </form>
    <a href="/signup">New? Create an account</a>
  </div>

</div>
